body {
  background-color: lightblue;
}

.box {
  width: 200px;
  height: 200px;
  background: white;
  position: relative;

  /* animation-name: colorchanger;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-delay: 2s; */

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: yourAnimation 3s ease 0s infinite normal none;
}

@keyframes yourAnimation {
  0.0% {
    transform-origin: bottom left;
    transform: rotate(45deg) translate(50px, 100px);
  }
  50% {
    transform-origin: bottom right;
    transform: rotate(180deg) translate(150px, 100px);
  }
}

/* @keyframes colorchanger { */
/* from {
    background-color: #ffadad;
  }
  to {
    background-color: #ffd6a5;
  } */

/* 0% {
    background-color: #ffadad;
    left: 0px;
    top: 0px;
  }

  10% {
    background-color: rebeccapurple;
  }

  25% {
    background-color: #ffd6a5;
    left: 300px;
    top: 0px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  50% {
    background-color: rgb(224, 33, 33);
    transform: translateX(100px);
    clip-path: polygon(
      0% 20%,
      60% 20%,
      60% 0%,
      100% 50%,
      60% 100%,
      60% 80%,
      0% 80%
    );
  }

  75% {
    background-color: #caffbf;
    transform: translateY(100px);
    clip-path: polygon(
      20% 0%,
      0% 20%,
      30% 50%,
      0% 80%,
      20% 100%,
      50% 70%,
      80% 100%,
      100% 80%,
      70% 50%,
      100% 20%,
      80% 0%,
      50% 30%
    );
  }

  100% {
    background-color: #a0c4ff;
    left: 0px;
    top: 0px;
  }
} */
